body{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
    color:white;
    background-color:  rgb(240, 240, 12);
}
header{
    background-color:#333;
    color: white;
    padding-top: 10px;
    text-align: center;
}

nav {
    background: #333;
    padding: 5px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: rgb(240, 240, 12);
}

nav ul{
    list-style-type: none;
}
nav li{
    display: inline;
    margin:0 15px;   
}
nav ul li a{
    color: rgb(240, 240, 12);
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: white;
}

section {
    max-width: 800px;
    margin:20px auto;
    background-color: #333;
    padding:20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section h2{
    color: white;
}
.menu-item {
    border-bottom:1px solid #ddd ;
    padding: 10px 0;
    display: flex;
}
.menu-item :last-child{
     border-bottom: none;
}
.menu-item h3{
    margin: 0 o 5px;
    color: white;
}
.menu-item p{
    margin: 0 o 10px;
    color: rgb(240, 240, 12);
}
.price {
    font-weight: bold;
    color: white;
}
.menu-item img{
    width:300px;
    height: 200px;
    border-radius: 5px;
}

.menu-item-details{
    padding-left: 20px;
}

.menu-cart-tittle {
    text-align: center;
    margin-top: 1rem;
}

footer {
    text-align: center;
    padding: 10px;
    color: #333;
    font-weight: bold;
    width: 100%;
    bottom: 0;
}


